.elevator {
   margin: auto;
   border: 1px solid black;
   position: relative;
   overflow: hidden;
   background-color: white;
}
.elevator-door {
   background-image: linear-gradient(hsl(0,0%,30%), hsl(0,0%,70%));
}
.elevator-left-door {
   position: absolute;
   z-index: 1;
   clip-path: inset(0% 0% 0% 0%);
}
.elevator-right-door {
   position: absolute;
   z-index: 1;
   right: 0px;
   clip-path: inset(0% 0% 0% 0%);
}
.elevator-text-content {
   height: 100%;
   width: 100%;
   text-align: center;
   position: absolute;
   z-index: 0;
   margin-top: 0px;
   box-sizing: border-box;
   padding: 10px;
}
